.filter-products-page {
  h2 {
    margin-bottom: 15px;
  }
}

.filter-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  select,
  button {
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
  }
}
