@import "./settings.scss";
@import "./pages/allproducts.scss";
@import "./pages/register.scss";
@import "./pages/productdetails.scss";
@import "./pages/filterproducts.scss";
@import "./pages/sortproducts.scss";
@import "./pages/login.scss";
@import "./components/navigation.scss";
@import "./pages/cart.scss";
